@use "base/variables" as v;
@use "base/mixins" as m;

.barra {
    display: none;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nombre {
        font-size: 6rem;
        font-family: "League Gothic", sans-serif;
        color: bisque;
    }
    &__navegacion {
        @include m.tablet {
            font-size: 1.8rem;
            display: flex;
            gap: 4rem;
        }
    }
    &__link {
        color: v.$blanco;
        font-size: 3rem;
        font-family: "League Gothic", sans-serif;
    }

    &__nombre {
        font-size: 8rem;
        color: v.$blanco;
        margin: 0;
    }
}
